.Messages {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

  &__title {
    margin-bottom: 20px;
  }
}

.Message {
  display: flex;
  align-items: center;
  gap: 0 30px;
  background-color: #f6f7f9;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
  }

  &__user {
    font-size: 18px;
    font-weight: 500;
  }

  &__date {
    font-weight: 500;
    color: #339966;
    margin-left: auto;
  }
}
