.Messages {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

  &__title {
    margin-bottom: 20px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  &__field {
    width: 70%;
    height: 70px;
    border-radius: 10px;
    border: 1px solid #ebecee;
    margin-bottom: 10px;
    padding: 5px;
    resize: none;

    &:focus {
      outline: 1px solid #006699;
    }
  }

  &__btn {
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    width: 110px;
    height: 35px;
    background-color: #4374c0;
    color: #fff;
    cursor: pointer;
    transition: background-color ease-in 0.3s;

    &:hover {
      background-color: #0181c2;
    }
  }
}

.Message {
  display: flex;
  align-items: center;
  gap: 0 30px;
  background-color: #f6f7f9;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
  }

  &__user {
    font-size: 18px;
    font-weight: 500;
  }

  &__date {
    font-weight: 500;
    color: #339966;
    margin-left: auto;
  }
}
