.Navbar {
  position: fixed;
  top: 90px;
  left: 15px;
  width: 330px;
  height: 350px;
  background-color: #fff;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
  padding: 15px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
  }

  &__title {
    font-size: 14px;
    font-weight: 400;
    color: #000;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 0 20px;
    font-size: 16px;
    font-weight: 500;
    color: #6f7f92;
    padding: 12px;
    transition: color ease-in 0.3s, background-color ease-in 0.3s;
    position: relative;
    background-color: transparent;
    border-radius: 10px;

    &::before {
      content: '';
      position: absolute;
      left: 4px;
      top: 4px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #4374c0;
    }

    &:hover {
      color: #006699;
      background-color: #eaeff8;
    }

    &.active {
      color: #006699;
      background-color: #eaeff8;
    }
  }

  &__icon {
    position: relative;
    fill: #fff;
  }
}
